<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fiveInARow">

<!--    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:name="com.fiveInARow.platform.GameApplication">
        <activity
            android:name="com.fiveInARow.platform.GameActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.bt.platform.BTService">
            <intent-filter>
                <action android:name="com.bt.BTService.START_SERVICE_AS_SERVER" />
                <action android:name="com.bt.BTService.START_SERVICE_AS_CLIENT" />
                <action android:name="com.bt.BTService.STOP_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>